{% extends 'ElmaApp/base.html' %}
{% load staticfiles %}



{% block content %}
<br><br><br><br>
<p></p>

<div class="container" >
    <br>
    <header class="section-header">
        <h3>Pastel Accounting </h3>
    </header>
    <br>


    <div class="row">



        <div class="col-sm-6 col-md-6 display-full   css8307738_0 " style="">
            <div class="content ">

                    <!-- sage pastel xpress advantage -->
                <div itemprop="articleBody">
                    <div class="content-intro"><p><img title="Sage Pastel " class="img-responsive" style="width: 380px;" alt="Sage Pastel " src="{% static 'img/xp.jpg' %}"></p></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 display-full   css8307738_1 " style="">

            <div class="content ">
                <!-- Sage Pastel Xpress Advantage -->
                <div itemprop="articleBody">
                    <div class="content-intro"><p>&nbsp;</p>
                        <p><span style="font-size: 26px; color: #004289;"><strong>Sage Pastel Xpress </strong></span></p>
                        <p><span style="font-size: 16px;">Affordable and easy to use, smart and intuitive accounting software for start-ups and small businesses. This software is installed on your desktop/s, runs on a pervasive database and comes with <strong>a single user licence</strong> and with the ability <strong>to purchase up to 3 user licences.</strong></span></p></div>
                </div>
                 <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>

<div class="container css8307751 " style="">
    <div>
        <div class="row">
            <div class="col-sm-6 display-full  css8307751_0 " style="">
                <div class="content ">
                    <!-- Sage Pastel Partner Advantage Brochure -->
                    <div itemprop="articleBody">
                        <div class="content-intro"><p><img title="Sage Parner" class="img-responsive" style="width: 402px;" alt="Sage Parner" src="{% static 'img/Partner22.jpg' %}"></p></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 display-full   css8307751_1 " style="">
                <div class="content ">
                    <!-- Sage Pastel Partner Advantage  -->
                    <div itemprop="articleBody">
                        <div class="content-intro"><p><span style="font-size: 26px;"><strong><span style="color:  #004289;">Sage Pastel Partner </span></strong></span></p>
                            <p><span style="font-size: 16px;">A powerful accounting software solution developed to meet the needs of growing, small businesses. It’s easy to use and affordable.</span></p>
                            <p><span style="font-size: 16px;">This software is installed on your desktop/s, runs on a pervasive database and comes with a single user licence and with the ability to purchase up to 20 user licences.</span></p>
                            <p><span style="font-size: 16px;">This solution will allow you to invoice customers, analyse business performance and manage VAT, stock, budgets and more.</span></p></div>
                    </div>
                     <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>



<div class="container-fluid  css8307792 " style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 display-full   css8307792_0 " style="">
                <div class="content ">
                    <!-- sage 200 -->
                    <div itemprop="articleBody">
                        <br>
                        <br>
                        <br><br><br>
                        <div class="content-intro"><p><img title="sage 200" class="img-responsive" style="width: 402px;" alt="sage 200" src="{% static 'img/evo.jpg' %}"></p></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 display-full   css8307792_1 " style="">
                <div class="content ">
                    <!-- Sage 200 Evolution -->
                    <div itemprop="articleBody">
                        <div class="content-intro"><p>&nbsp;</p>
                            <p><span style="font-size: 26px; color: #004289;"><strong>Sage Evolution</strong></span></p>
                            <p><span style="font-size: 14px;">A powerful accounting &amp; ERP software solution developed to help companies take control of all business operations without the need for a full-scale ERP solution.&nbsp;</span></p>
                            <p><span style="font-size: 14px;">This software is installed on your desktop/s, runs on a MS SQL database and comes with a single user licence and with the ability to purchase up to any number user licences.&nbsp;</span><span style="font-size: 14px;">Sage 200 Evolution helps small and medium size companies who have outgrown their current accounting solution to manage products, orders, customers, finances and operations.</span></p>
                            <p><span style="font-size: 14px;">Sage 200 Evolution supports large enterprises with multiple branches through its Branch Accounting Solutions.</span></p>
                            <p><span style="font-size: 14px;">The Sage 200 Evolution Service Manager is a tool used in Service industry to manage your assets and helps you in billing your clients periodically or through&nbsp; meter recording,&nbsp;</span><span style="font-size: 14px;">This solution goes beyond normal accounting.</span></p></div>
                    </div>
                     <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
                </div>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<div class="container">

    <header class="section-header">
        <h3>Quickbooks Accounting </h3>
    </header>

</div>

<div class="container-fluid  css8307792 " style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 display-full   css8307792_0 " style="">
                <div class="content ">
                    <!-- sage 200 -->
                    <div itemprop="articleBody">
                        <br>
                        <br>
                        <br><br><br>
                        <div class="content-intro"><p><img title="sage 200" class="img-responsive" style="width: 402px;" alt="sage 200" src="{% static 'img/qb.png' %}"></p></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 display-full   css8307792_1 " style="">
                <div class="content ">
                    <!-- Sage 200 Evolution -->
                    <div itemprop="articleBody">
                        <div class="content-intro"><p>&nbsp;</p>
                            <p><span style="font-size: 26px; color: #004289;"><strong>Quick Books</strong></span></p>
                            <p><span style="font-size: 14px;">QuickBooks accounting software has all you need to keep your books accurate and up to date, automatically with  features like invoicing, cashflow, expense tracking and more.&nbsp;</span></p>
                            <ul>
                                <li><strong>Secure access anytime, on any device</strong>: your data is completely secure in the cloud, allowing you to run your business from your Mac, PC, tablet or phone.</li>
                                <li><strong>Reports and insights:</strong> create accounting reports, like balance sheets, profit & loss and GST reports so you are ready for tax time.</li>
                            </ul>
                             <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="container">

    <header class="section-header">
        <h3>POS  </h3>
    </header>
</div>

<div class="container-fluid  css8307792 " style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 display-full   css8307792_0 " style="">
                <div class="content ">
                    <!-- sage 200 -->
                    <div itemprop="articleBody">
                        <br>
                        <br>
                        <br><br><br>
                        <div class="content-intro"><p><img title="sage 200" class="img-responsive" style="width: 402px;" alt="sage 200" src="{% static 'img/pos2.jpg' %}"></p></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 display-full   css8307792_1 " style="">
                <div class="content ">
                    <!-- Sage 200 Evolution -->
                    <div itemprop="articleBody">
                        <div class="content-intro"><p>&nbsp;</p>
                            <p><span style="font-size: 26px; color: #004289;"><strong>Point Of Sale</strong></span></p>
                            <p><span style="font-size: 14px;">A Point of sale system typically comprises of a computer, monitor, cash drawer, receipt printer, customer display and a barcode scanner. </span></p>
                            <p><span style="font-size: 14px;">The main advantage of a computerized POS system over a cash box or a cash register is the sophisticated and detailed sales reports it provides. The software lets you analyze sales in different ways, such as by (item sold), time periods, promotions, by store if you have more than one, or even by sales clerk.</span></p>
                            <p><span style="font-size: 14px;">It also analyse sales per payment methods e.g Cash (Bond), Ecocash, Cash ( USD), or Swipe</span></p>
                            <!--<ul>-->
                            <!--    <li><strong>Flexible rate options</strong></li>-->
                            <!--    <li><strong>Protected payments</strong></li>-->
                            <!--    <li><strong>Accept debit cards</strong></li>-->
                            <!--</ul>-->
                             <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<br>
<br>
<div class="container">

    <header class="section-header">
        <h3>Payroll & HR </h3>
    </header>

</div>



<div class="container-fluid  css8307857 " style="background-color: #f3f3f3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 display-full   css8307857_0 " style="">
                <div class="content ">
                    <!-- HR &amp; PAYROLL -->
                    <div itemprop="articleBody">
                            <br>
                            <br><br>
                            <p><span style="font-size: 16px;"><strong>HR &amp; payroll for start-up and small businesses</strong></span></p>
                            <ul>
                                <li><span style="font-size: 16px;">Sage One Payroll&nbsp;</span></li>
                                <li><span style="font-size: 16px;">Sage Pastel Partner Payroll Advantage</span></li>
                            </ul>
                            <p><span style="font-size: 16px;"><strong>&nbsp;HR &amp; payroll for medium sized businesses</strong></span></p>
                            <ul>
                                <li><span style="font-size: 16px;">Sage 200c VIP</span></li>
                            </ul>
                            <p><span style="font-size: 16px;"><strong>HR &amp; payroll for Enterprises</strong></span></p>
                            <ul>
                                <li><span style="font-size: 16px;">Sage 300 People</span></li>
                                <li><span style="font-size: 16px;">Sage X3 People</span></li>
                            </ul>
                            <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 display-full   css8307857_1 animated slideInRight" style="" data-animation-desktop="slideInRight">
                <div class="content ">
                    <!-- business software -->
                    <div class="form-group">
                        <br><br><br><br>
                        <img title="" class="img-responsive zoom mainimage" alt="" src="{% static 'img/businesssoftware.png' %}" itemprop="image">
                    </div>
                     <a class="btn btn-primary" href="{% url 'ElmaApp:quote' %}" role="button">Get Quote</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}